.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .menu {
    background-color: #303030;

    .item {
      &:hover {
        background-color: #606060;
      }
      > svg {
        color: #EFEFEF;
      }

      > div {
        color: #EFEFEF;
      }
    }
  }

  .icon {
    > svg {
      color: #A3A3A3;
    }
  }
}

:global {
  .tonic-ui-portal {
    div[role=menu] {
      background-color: #303030;

      button[role=menuitem] {
        &:hover {
          background-color: #606060;
        }
        > svg {
          color: #EFEFEF;
        }

        > div {
          color: #EFEFEF;
        }
      }
    }
  }
}